In [16]:
import pandas as pd
import numpy as np

In [17]:
new_data = pd.read_csv("preprocessed.csv",encoding = "ISO-8859-1")
new_data.head()

,eventid,iyear,imonth,iday,extended,country_txt,region_txt,doubtterr,success,suicide,...,gname_jaish_almujahideen_syria,gname_league_of_damascus_for_special,gname_the_78_unemployed,gname_authenticity_and_development_f,gname_justice_and_equality_movement_,gname_jihadiinspired_extremists,gname_ajnad_alsham,gname_turkestan_islamic_party,gname_khaled_ibn_alwalid_army,gname_the_independent_military_wing_
0,197003290002,1970,3,29,0,Lebanon,Middle East & North Africa,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,197004250001,1970,4,25,0,Turkey,Middle East & North Africa,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,197006090002,1970,6,9,0,Iran,Middle East & North Africa,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,197006110002,1970,6,11,0,Iran,Middle East & North Africa,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,197008310001,1970,8,31,0,Turkey,Middle East & North Africa,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# Compute Null percentage of each feature.
new_data_null = (new_data.isnull().sum() / new_data.shape[0]) * 100

new_data_null[new_data_null > 0]

Series([], dtype: float64)

In [14]:

new_data['nkill'].fillna(1, inplace=True)